body {
  background-color:lightgray;
}
hr{
  border-color: darkgray;
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 height: 0px;
 width: 5%;
}
h1{
  color: firebrick;
  font-family: serif;
  font-size: 45px;
  text-decoration-line:overline underline;
}
h3{
  color: tomato;
}
